# Ignore everything
*

# Except directories, placeholders, gitignores, LICENSE, Markdown files and Python sources
!*/
!krum/*
!.placeholder
!.gitignore
!LICENSE
!*.md
!*.py
!*.toml
!.python-version
!uv.lock
!.pre-commit-config.yaml

# Except documentation files
docs/_build
!*.rst
!*.html
!*.css
!*.js
!*.svg

# Github 
!.github/*
!*.yml

# IDE stuff
.idea