# Ignore everything
*

# Except directories, placeholders, gitignores, LICENSE, Markdown files and Python sources
!*/
!.placeholder
!.gitignore
!LICENSE
!*.md
!*.py
!*.toml
!.python-version

# Except documentation files
docs/_build
!*.rst
!*.html
!*.css
!*.js
!*.svg

# Github 
!.github/*
!*.yml

# IDE stuff
.idea
