# Ignore build dirs
docs/_build

# Python stuff
.venv
**/__pycache__
krum.egg-info
krum/native/**/*.ninja_deps
krum/native/**/*.ninja_log
krum/native/**/build.ninja
krum/native/**/*.o
krum/native/**/*.so


# IDE stuff
.idea
